{% extends "esqueleto.html" %}

{% block content %}
<h2 class="my-4">Canciones de {{ friend.username }}:</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Artista</th>
            <th>Género</th>
            <th>Comentarios</th>
        </tr>
    </thead>
    <tbody>
        {% for song in songs_data %}
        <tr>
            <td>{{ song.title }}</td>
            <td>{{ song.artist }}</td>
            <td>{{ song.genre }}</td>
            <td>
                {% for comment in song.comments %}
                <p><strong>{{ comment.user }}</strong>: {{ comment.comment }}</p>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<a href="javascript:void(0);" onclick="goBack();" class="btn btn-secondary mt-3">Atrás</a>
{% endblock %}
