{% extends "esqueleto.html" %}

{% block title %}Cambiar Contraseña{% endblock %}

{% block content %}
<h1>Cambiar Contraseña</h1>
<form method="POST">
    <label for="current_password">Contraseña Actual:</label>
    <input type="password" id="current_password" name="current_password"><br><br>
    <label for="new_password">Nueva Contraseña:</label>
    <input type="password" id="new_password" name="new_password"><br><br>
    <label for="confirm_password">Confirmar Nueva Contraseña:</label>
    <input type="password" id="confirm_password" name="confirm_password"><br><br>
    <button type="submit">Cambiar Contraseña</button>
</form>
{% endblock %}
