<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Music App - Agregar Canción</title>
</head>

<body>
    <h1>My Music App</h1>

    <!-- Formulario para Agregar Canciones -->
    <h2>Agregar Nueva Canción:</h2>
    <form action="/add_song" method="POST">
        <label for="title">Título:</label>
        <input type="text" id="title" name="title" required><br>

        <label for="artist">Artista:</label>
        <input type="text" id="artist" name="artist" required><br>

        <label for="genre">Género:</label>
        <input type="text" id="genre" name="genre" required><br>

        <button type="submit">Agregar Canción</button>
    </form>
</body>

</html>