<!-- <!DOCTYPE html>
<html>
<head>
    <title>Recomendación Musical</title>
</head>
<body>
    <header>
        <h1>Recomendación Musical</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('add_song') }}">Agregar Canción</a></li>
        </ul>
    </nav>
    <section>
        {% block content %}{% endblock %}
    </section>
</body>
</html>
 -->

<!DOCTYPE html>
<html>

<head>
    <title>Ejemplo de atributo Href</title>
</head>

<body>
    <h1>Ejemplo de atributo Href</h1>
    <p>
        <a href="https://www.freecodecamp.org/contribute/">La pagina de de contribucion de freeCodeCamp</a> te muestra
        como y donde puedes contribuir a la comunidad y al crecimiento de freeCodeCamp.
    </p>
</body>

</html>